<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

{% include head.html %}

<body>

  <div class="container content">
    <div class="masthead">
      <h1 class="masthead-title">
        <a href="/" title="Home">{{ site.title }}</a>
        <h5>{{ site.tagline }}</h5>
      </h1>
    </div>

    {{ content }}

    <div class="footer">
      <em>
        <p>
          &copy; {{ site.time | date: '%Y' }}. no rights reserved. Thanks for reading!
        </p>
      </em>
    </div>
  </div>

</body>
</html>
